<div class="modal">
  <p class="title">Add Deals</p>

  <form (ngSubmit)="onSubmit()">
    <div *ngFor="let deal of newDeals; let i = index" class="deal-container">
      <label for="name{{i}}">
        <b>Name:</b>
        <input type="text" id="name{{i}}" name="name{{i}}" [(ngModel)]="deal.name" required>
      </label>

      <label for="type{{i}}">
        <b>Type:</b>
        <select id="type{{i}}" [(ngModel)]="deal.type" name="type{{i}}" required>
          <option value="Acquisition">Acquisition</option>
          <option value="Lease">Lease</option>
          <option value="Development">Development</option>
        </select>
      </label>

      <label for="purchasePrice{{i}}">
        <b>Purchase Price:</b>
        <input type="number" id="purchasePrice{{i}}" name="purchasePrice{{i}}" [(ngModel)]="deal.purchasePrice" (ngModelChange)="updateCapRate(deal)" required>
      </label>
      
      <label for="address{{i}}">
        <b>Address:</b>
        <input type="text" id="address{{i}}" name="address{{i}}" [(ngModel)]="deal.address" required>
      </label>
      
      <label for="noi{{i}}">
        <b>NOI: </b>
        <input type="number" id="noi{{i}}" name="noi{{i}}" [(ngModel)]="deal.noi" (ngModelChange)="updateCapRate(deal)" required>
      </label>

      <label for="capRate{{i}}" *ngIf="deal.noi && deal.purchasePrice">
        <b>Cap Rate (NOI/Purchase Price): </b>
        <input type="number" id="capRate{{i}}" name="capRate{{i}}" [(ngModel)]="deal.capRate" disabled>
      </label>
    </div>

    <button class="btn add-btn" type="submit">Add Deals</button>
    <button class="btn add-btn" type="button" (click)="addDeal()">Add Another Deal</button>
    <button class="btn return-btn" (click)="goBack()">Cancel</button>
  </form>
</div>