<div *ngIf="deal">
  <p class="title">Edit Deal</p>
  <form (ngSubmit)="onSubmit()">
    <label for="editName">
      <b>Name: </b>
      <input type="text" id="editName" name="editName" [(ngModel)]="deal.name" required>
    </label>

    <label for="editType">
      <b>Type: </b>
      <select id="editType" [(ngModel)]="deal.type" ng-init="editedDeal.type=editedDeal.type" name="editType" required>
        <option value="Acquisition">Acquisition</option>
        <option value="Lease">Lease</option>
        <option value="Development">Development</option>
      </select>
    </label>

    <label for="editPurchasePrice">
      <b>Purchase Price: </b>
      <input type="number" id="editPurchasePrice" name="editPurchasePrice" [(ngModel)]="deal.purchasePrice" required>
    </label>

    <label for="editAddress">
      <b>Address: </b>
      <input type="text" id="editAddress" name="editAddress" [(ngModel)]="deal.address" required>
    </label>

    <label for="editNoi">
      <b>NOI: </b>
      <input type="number" id="editNoi" name="editNoi" [(ngModel)]="deal.noi" required>
    </label>

    <label *ngIf="deal.noi && deal.purchasePrice">
      <b>Cap Rate (NOI/Purchase Price): </b>
      <input type="number" id="editCapRate" name="editCapRate" [(ngModel)]="deal.capRate" disabled>
    </label>

    <button class="btn edit-btn" type="submit">Edit Deal</button>
    <button class="btn return-btn" (click)="goBack()">Cancel</button>
  </form>
</div>