<p class="title">Deals List</p>
<button (click)="addDeals()" class="add-deals-btn">
  <span></span>
  <p>Add Deals</p>
</button>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Address</th>
      <th>Price</th>
      <th>NOI</th>
      <th>Cap Rate (NOI/Purchase Price)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr app-deal 
        *ngFor="let deal of deals; let i = index"
        [deal]="deal"
        (update)="editDeal(i)"
        (view)="viewDeal(i)"
        (remove)="removeDeal($event)"
    >
    </tr>
  </tbody>
</table>